[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["cd shared && npm install --include=dev", "cd client && npm install --include=dev", "cd server && npm install"]
dependsOn = ["setup"]

[phases.build]
cmds = ["cd shared && ./node_modules/typescript/bin/tsc", "cd client && npm run build", "cd server && npx prisma generate"]
dependsOn = ["install"]

[start]
cmd = "cd server && npx prisma migrate deploy && npm start"

[variables]
NODE_ENV = "production"
