[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["echo 'Skipping auto-install, handled in build phase'"]
dependsOn = ["setup"]

[phases.build]
cmds = [
  "cd shared && NODE_ENV=development npm ci && npx -y -p typescript tsc",
  "cd client && NODE_ENV=development npm ci --ignore-scripts && npx vite build --config vite.spa.config.ts",
  "cd server && NODE_ENV=development npm ci && npx prisma generate"
]
dependsOn = ["setup"]

[start]
cmd = "cd server && npx prisma migrate deploy && npm start"

[variables]
NODE_ENV = "production"
