[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.build]
cmds = [
  "cd shared && npm install && npx -y -p typescript tsc",
  "cd client && npm install --ignore-scripts && npx vite build --config vite.spa.config.ts",
  "cd server && npm install && npx prisma generate"
]
dependsOn = ["setup"]

[start]
cmd = "cd server && npx prisma migrate deploy && npm start"

[variables]
NODE_ENV = "production"
