[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["cd shared && npm install", "cd client && npm install --ignore-scripts", "cd server && npm install"]
dependsOn = ["setup"]

[phases.build]
cmds = ["cd shared && npm install && npx -y -p typescript tsc", "cd client && npx vite build --config vite.spa.config.ts", "cd server && npx prisma generate"]
dependsOn = ["install"]

[start]
cmd = "cd server && npx prisma migrate deploy && npm start"

[variables]
NODE_ENV = "production"
